<div class="col-lg-2 col-md-2 col-sm-2 user_content_wrapper student_sidebar">
	<div class="user_pic_container">
			<%= image_tag @student.image_url.nil? ? 'default_user.jpg' :@student.image_url.to_s, {:class => "user_pic"} %>
	</div>
	<div class="text-center">
		<% if @student == current_user %>
			<a href="#" class="user_name"><%= current_user.first_name %> <%= current_user.last_name %></a>
			<%= link_to my_applications_student_path(id: current_user.id), :class => "btn btn-block btn-info" do %>
				<span class="fa fa-list-ul"></span> My Applications
			<% end %>
			<%= link_to @current_students_tpo, :class => "btn btn-block btn-success green" do %>
				<span class="fa fa-eye"></span> Visit TPO
			<% end %>
		<% else %>
			<a href="#" class="user_name"><%= @student.first_name %> <%= @student.last_name %></a>
			<div class="student_contact_info">
				<!--<span class="divider"></span>
				<p><span class="fa fa-envelope"></span></p>
				<span class="divider"></span>
				<p><span class="fa fa-phone"></span> 9876543210<br/></p>
				<span class="divider"></span>-->
				<div class="student_web_links">
					<% if !@student.social_profile.website.nil? %>
						<a href="http://<%= @student.social_profile.website %>" class="btn btn-sm" target="_blank"><span class="fa fa-globe"></span></a>
					<% end %>
					<% if !@student.social_profile.github.nil? %>
						<a href="http://<%= @student.social_profile.github %>" class="btn btn-sm" target="_blank"><span class="fa fa-github-square"></span></a>
					<% end %>
					<% if !@student.social_profile.linkedin.nil? %>
						<a href="http://<%= @student.social_profile.linkedin %>" class="btn btn-sm" target="_blank"><span class="fa fa-linkedin-square"></span></a>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>