
<% provide(:title, "Student SignUp") %>
<div class="intro_wrapper window_span">
    <div class="intro_wrapper_overlay window_span"></div>
    <div class="container">
            <div class="signup_form_container student_signup form_container curr_active">
                <div class="signup_form form_content animated flipInX">
                	<p>SignUp as Student</p>
                    <%= form_for(@student) do |f| %>
                        <%= render 'shared/stu_error_messages' %>
                        <div class="form-group">
                            <%= f.label :email, :class => "control-label" %>
                            <%= f.email_field :email, :class => "form-control", :placeholder => "Eg.: username@example.com" %>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <%= f.label :first_name, :class => "control-label" %>
                                    <%= f.text_field :first_name, :class => "form-control", :placeholder => "First Name" %>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <%= f.label :last_name, :class => "control-label" %>
                                    <%= f.text_field :last_name, :class => "form-control", :placeholder => "Last Name" %>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <%= f.label :college_id, :class => "control-label" %>
                            <%= f.collection_select(:college_id, @colleges, :id, :college_name, {}, {:class=>'form-control'}) %>
                        </div>
                        <div class="row">
                        	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            	<div class="form-group">
                                    <%= f.label :course_id, :class => "control-label" %>
                                    <%= f.collection_select :course_id, @courses, :id, :name, {}, {:class=>"form-control branches_dropdown", :onchange=>"pop_branches()"} %>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            	<div class="form-group">
                                    <%= f.label :branch_id, :class => "control-label" %>
                                    <%= f.collection_select :branch_id, @branches, :id, :name, {}, {:class=>"form-control"} %>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <%= f.label :password, :class => "control-label" %>
                            <%= f.password_field :password, :class => "form-control", :placeholder => "Your Profile Password" %>
                        </div>
                        <div class="redirect_links">
                        	<%= link_to "SignUp as College", new_tpo_path %> | 
                            <%= link_to "Already Signed Up?", new_session_path %>
                        </div>
                        <div class="submit_btn_wrapper btn btn-lg"><span style="visibility:hidden">Sign Up</span>
                            <%= f.submit "Sign Up", :class => "btn btn-default btn-lg sign_up_btn" %>
                            <span class="hover_span"></span>
                        </div>
                    <% end %>
               </div>
            </div>
   </div>
</div>
<%= javascript_include_tag 'student_users' %>