<% provide(:title, @student.name) %>
<div>
	<p class="lead"><%= @student.email %></p>
	<p class="lead"><%= @student.name %></p>
	<p class="lead"><%= @student.college %></p>
	<p class="lead"><%= @student.course %></p>
	<p class="lead"><%= @student.branch %></p>
</div>
<%= link_to "Log out", session_path, method: "delete" %>