<% provide(:title, @student.first_name.to_s+" "+@student.last_name.to_s) %>
<div class="row">
	<%= render 'student_sidebar' %>
	<div class="col-lg-10 col-md-10 col-sm-10">
		<p class="lead"><%= @student.email %></p>
		<p class="lead"><%= @student.first_name %></p> <%= @student.last_name %>
		<p class="lead"><%= @student.college %></p>
		<p class="lead"><%= @student.course %></p>
		<p class="lead"><%= @student.branch %></p>
		<%= link_to "Log out", session_path, method: "delete" %>
	</div>
</div>