<% provide(:title, @student.name) %>
<div>
	<p class="lead" style="z-index:999999999999999999999999999999"><%= @student.email %></p>
	<p class="lead" style="z-index:999999999999999999999999999999"><%= @student.name %></p>
	<p class="lead" style="z-index:999999999999999999999999999999" ><%= @student.college %></p>
	<p class="lead" style="z-index:999999999999999999999999999999"><%= @student.course %></p>
	<p class="lead" style="z-index:999999999999999999999999999999"><%= @student.branch %></p>
</div>