<li id="jobpost-<%= jobpost.id %>" class="jobpost_container">
	<div class="jobpost">
		<div class="job_title">
			<div class="position left_aligned"><%= jobpost.position %></div>
			<div class="company right_aligned"><%= jobpost.company %></div>
		</div>
		<div class="location"><%= Location.find(jobpost.location_id).location %></div>
		<div class="job_info row">
			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="heading">
					<span class="fa fa-ticket"></span> Type  
				</div>
				<div class="job_info_item">
					<% case jobpost.job_type 
						   when 1 %> On Campus
						<% when 2 %> Pool Campus
						<% when 3 %> Walk In
						<% when 4 %> Internship
					<% end %>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="heading">
					<span class="fa fa-graduation-cap"></span> Courses  
				</div>
				<% jobpost.course_ids.each do |c| %>
					<%= Course.all.find(c).name  %>, 
				<% end %>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="heading">
					<span class="fa fa-share-alt"></span> Branches  
				</div>
				<% jobpost.branch_ids.each do |b| %>
					<%= Branch.all.find(b).name %>,  
				<% end %>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="heading">
					<span class="fa fa-plus"></span> Percentage
				</div>
				<%= jobpost.percentage_required %>
			</div>
		</div>
		<div class="actions">
			<% if current_user.user_type == 1 && current_user.id == jobpost.tpo_id %>
				<%= link_to jobposts_path, :class => "btn btn-default btn-sm pull-left" do %>
					<span class="fa fa-th-list"></span> View Applications
				<% end %>
				<%= link_to jobpost_path(jobpost), method: "delete", :class => "btn btn-danger btn-sm" do %>
					<span class="fa fa-close"></span> Delete
				<% end %>
				<%= link_to edit_jobpost_path(jobpost), :class => "btn btn-primary btn-sm" do %>
					<span class="fa fa-edit"></span> Edit
				<% end %> 
			<% end %>
			<%= link_to jobpost, :class => "btn btn-info btn-sm" do %>
				<span class="fa fa-eye"></span> <%= current_user.user_type == 1 ? "View" : "View & Apply" %>
			<% end %>  
		</div>
		<div class="author">
			posted <%= time_ago_in_words(jobpost.created_at) %> ago
		</div>
	</div>
</li>