<% provide(:title, @jobpost.position.to_s+" | "+@jobpost.company.to_s) %>
<div class="row">
	<% if current_user.user_type == 2 %>
		<%= render '/students/student_sidebar' %>
	<% else %>
		<%= render '/tpos/tpo_sidebar' %>
	<% end %>
	<div class="col-lg-10 col-md-10 col-sm-10 main_content">
		<div class="show_job_content">
			<div class="job_title">
				<h3><%= @jobpost.company %> hiring <%= @jobpost.position.pluralize %>
					<small>( 
						<% case @jobpost.job_type 
						   when 1 %> On Campus
						<% when 2 %> Pool Campus 
						<% when 3 %> Walk In
						<% when 4 %> Internship
					<% end %> )
					</small>
				</h3>
			</div>
			<div class="job_info">
				<% if !@jobpost.about_company.empty? %>
					<div class="desc">
						<div class="desc_title"><h4>About <%= @jobpost.company %></h4></div>
						<div class-"about_company">
							<%= simple_format(@jobpost.about_company) %>
						</div>
					</div>
				<% end %>
				<% if !@jobpost.job_profile.empty? %>
					<div class="desc">
						<div class="desc_title"><h4>About Position <small>(<%= @jobpost.position %>)</small></h4></div>
						<div class-"about_pos">
							<%= simple_format(@jobpost.job_profile) %>
						</div>
					</div>
				<% end %>
				<div class="desc">
					<div class="desc_title"><h4>Eligibility</h4></div>
					<div class="about_eligibility row">
						<div class="col-lg-4 col-md-4">
							<div><b><span class="fa fa-plus"></span> Percentage</b></div>
							<%= @jobpost.percentage_required %>
						</div>
						<div class="col-lg-4 col-md-4">
							<div><b><span class="fa fa-graduation-cap"></span> Courses </b></div>
							<% @jobpost.course_ids.each do |c| %>
								<%= Course.all.find(c).name  %>, 
							<% end %>
						</div>
						<div class="col-lg-4 col-md-4">
							<div><b><span class="fa fa-share-alt"></span> Branches</b></div>
							<% @jobpost.branch_ids.each do |b| %>
								<%= Branch.all.find(b).name %>,  
							<% end %>
						</div>
					</div>
				</div>
				<% if !@jobpost.other_requirements.empty? %>
					<div class="desc">
						<div class="desc_title"><h4>Other Requirements</h4></div>
						<div class="about_req">
							<%= simple_format(@jobpost.other_requirements) %>
						</div>
					</div>
				<% end %>
				<% if !@jobpost.instructions.empty? %>
					<div class="desc">
						<div class="desc_title"><h4>Instructions From Tpo</h4></div>
						<div class="about_instructions">
							<%= simple_format(@jobpost.instructions) %>
						</div>
					</div>
				<% end %>
				<div class="desc">
					<div class="desc_title"><h4>Event Information</h4></div>
					<div class="relevant_dates">
						<p> <b>Last Date to Apply</b> : <%= @jobpost.last_date.strftime('%A, %B %d, %Y') %></p>
						<p> <b>Date of the event</b> : <%= @jobpost.drive_date.strftime('%A, %B %d, %Y') %></p>
						<p> <b>Venue</b> : <%= @jobpost.venue %></p>
						<p> <b>Location</b> : <%= Location.find(@jobpost.location_id).location %></p>
					</div>
				</div>
				<div class="actions">
					<% if current_user.user_type == 1 && current_user.id == @jobpost.tpo_id %>
						<%= link_to view_applications_jobpost_path, :class => "btn btn-default btn-md pull-left" do %>
							<span class="fa fa-th-list"></span> View Applications
						<% end %>
						<%= link_to jobpost_path(@jobpost), method: "delete", :class => "btn btn-danger btn-md" do %>
							<span class="fa fa-close"></span> Delete
						<% end %>
						<%= link_to edit_jobpost_path(@jobpost), :class => "btn btn-primary btn-md" do %>
							<span class="fa fa-edit"></span> Edit
						<% end %> 
					<% end %>
						<% if current_user.user_type == 2 %>
							<% if already_applied? %>
								<span class="btn btn-md btn-success green">
									&#10004; Already Applied
								</span>
							<% elsif !can_apply? %>
								<p class="text-danger">This job is an on-campus opportunity, only the students from <%= @colege.college_name %> can apply.</p>
							<% elsif job_expired? %>
								<p class="text-danger">The Job has expired</p>
							<% else %>								
								<%= link_to submit_application_path(jobpost_id: @jobpost.id), :method => :post, :class => "btn btn-md btn-info" do %>
									<span class="fa fa-sign-in"></span> Apply
								<% end %>
							<% end %>
						<% end %>
				</div>
			</div>
	</div>
	</div>
</div>