<% provide(:title, @tpo.name.to_s+" | Edit Profile") %>
<div class="row">
	<%= render 'tpo_sidebar' %>
	<div class="col-lg-10 col-md-10 col-sm-10">
		<div class="tpo_edit_form_container">
			<div class="tpo_edit_form">
				<h3>Update Your Profile</h3>
				<%= form_for(@tpo) do |f| %>
				    <%= render 'shared/error_messages' %>
				    <div class="form-group">
				        <%= f.label :email, :class => "control-label" %>
				        <%= f.email_field :email, :class => "form-control", :placeholder => "Eg.: username@example.com", :disabled => "true" %>
				    </div>
				    <div class="form-group">
				        <%= f.label :name, :class => "control-label" %>
				        <%= f.text_field :name, :class => "form-control", :placeholder => "YourName" %>
				    </div>
				    <div class="form-group">
				        <%= f.label :college, :class => "control-label" %>
				        <%= f.collection_select(:college, College.all, :college_name, :college_name, {}, {:class=>'form-control'}) %>
				    </div>
				    <div class="form-group">
				        <%= f.label :password, :class => "control-label" %>
				        <%= f.password_field :password, :class => "form-control", :placeholder => "Your Profile Password" %>
				    </div>
				    <%= f.submit "Update", :class => "btn btn-default btn-lg sign_up_btn pull-right" %>
				    
				<% end %>
			</div>
		</div>
	</div>
</div>