<% provide(:title, @tpo.name) %>
<div class="row">
	<div class="col-lg-2 col-md-2 col-sm-2 user_content_wrapper">
		<div class="user_pic_container">
				<img src="#" class="user_pic" />
		</div>
			<a href="#" class="tpo_name"><%= @tpo.name %></a>
			<a href="#" class="btn btn-block btn-info"><span class="fa fa-plus"> </span> Post a Job</a>
	</div>
	<div class="col-lg-10 col-md-10 col-sm-10">
		<p class="lead"><%= @tpo.email %></p>
		<br/>
		<p class="lead"><%= @tpo.name %></p>
		<br/>
		<p class="lead"><%= @tpo.college %></p>
		<%= link_to "Log out", session_path, method: "delete" %>
	</div>
</div>