
<% provide(:title, "Home") %>
<div class="intro_wrapper window_span">
    <div class="intro_wrapper_overlay window_span"></div>
    <div class="container">
    		<div class="introduction curr_active">
            	<p class="animated zoomIn">We are making the process of placements easier</p><br />
                <%= link_to "/students/new", :class => "student_signup_link btn btn-lg btn-default student_sign_up animated fadeInDown" do %>
                    SignUp as Student
                    <span class="sign_hover_span"></span>
                <% end %><br /><br />
            	<%= link_to "/tpos/new", :class => "college_signup_link btn btn-lg btn-default college_sign_up animated fadeInUp" do %>
                    SignUp as College
                    <span class="sign_hover_span"></span>
                <% end %>
            	<!--<a href="#" class="college_signup_link btn btn-lg btn-default college_sign_up animated fadeInUp"><span class="sign_hover_span"></span>SignUp as College</a>-->
        	</div>
            <%= render 'login_form' %>
            <%= render 'college_signup_form' %>
            <%= render 'student_signup_form' %>
            <%= render 'forgot_password_form' %>
            </div>
   </div>
</div>
<%= javascript_include_tag('script.js') %>
