<div class="container">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".nav-menu">
	        	<span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
        	</button>
			<h1 class="navbar-brand"><a href="#">Sf</a></h1>
			<ul class="nav navbar-nav collapse nav-menu navbar-collapse">
				<li class="pull-left"><a href="#"><span class="fa fa-home"></span> Home</a></li>
				<li class="divider"></li>
				<li class="pull-left">
					<%= link_to current_user do %>
						<img src="" height:"20" width="20" />
						<%= current_user.first_name %>
					<% end %>
				</li>
				<li class="search_form col-lg-6 col-md-4 col-sm-2 col-xs-12">
					<form role="search">
						<input type="text" placeholder="Search Jobs by Position, Location or Company" class="form-control">
						<button class="btn btn-default btn-sm"><span class="fa fa-search"><span></button>
					</form>
				</li>
				<li class="dropdown_container"><a href="#"><span class="fa fa-cog"></span> Account <span class="caret"></a>
					<ul class="dropdown_list list-unstyled">
						<li class="arrow_up"></li>
						<% if current_user.user_type == 'tpo' %>
								<li>
									<%= link_to edit_tpo_path(current_user) do %>
									<span class="fa fa-edit"></span> Edit Profile
									<% end %>
								</li>
						<% elsif current_user.user_type == 'student' %>
								<li>
									<%= link_to edit_student_path(current_user) do %>
										<span class="fa fa-cogs"></span> Account Settings
								<% end %>
							</li>
							<li class="divider"></li>
							<li><a href="#"><span class="fa fa-edit"></span> Edit Profile</a></li>
						<% end %>
						<li class="divider"></li>
						<li>
							<%= link_to logout_path, method: "delete" do %>
							  <span class="fa fa-power-off"></span> Log Out
							<% end %>
						</li>
					</ul>
				</li>
				<li class="divider pull-right"></li>
				<li class="dropdown_container"><a href="#"><span class="fa fa-language"></span> Opportunities <span class="caret"></a>
					<ul class="dropdown_list list-unstyled">
						<li class="arrow_up"></li>
						<li><a href="#"><span class="fa fa-institution"></span> On-Campus</a></li>
						<li class="divider"></li>
						<li><a href="#"><span class="fa fa-building-o"></span> Off-Campus</a></li>
						<li class="divider"></li>
						<li><a href="#"><span class="fa fa-building"></span> Walk-ins</a></li>
						<li class="divider"></li>
						<li><a href="#"><span class="fa fa-rocket"></span> Internships</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</div>